<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{ISO8601} [%-9t] %-5level %-40.40logger - %msg%n}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="Console"/>
            <Level>INFO</Level>
        </Root>
        <Logger name="de.heinerion.betriebe.classes.file_operations.loading.LoadingManager">
            <Level>INFO</Level>
        </Logger>
        <Logger name="de.heinerion.betriebe.gui.content.InvoiceTabContent">
            <Level>DEBUG</Level>
        </Logger>
        <Logger name="de.heinerion.betriebe.classes.gui.listener.DruckAction" level="DEBUG"/>
    </Loggers>
</Configuration>